export SRC=src/*.java
export COMPILER=javac

export PROJECT_BUILD="$COMPILER $SRC"
export PROJECT_FLAGS=""
export PROJCT_OUTPUT_DIR="-d output/"

export PROJECT_CLEAN=""
export PROJECT_RUN=""

# javac src/Lox.java -d output/
